:root {
    font-size: 16px;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #232735;
    background-color: #EEEEEE;
}

.header {
    width: 100%;
}

.header__logo{
    padding-left: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.nav__btn {
    width: 200px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #e0e0e0;
    text-align: left;
    cursor: pointer;
} 

.nav__icon-system {
    display: inline-block;
    margin-right: 30px;
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav__link:link,
.nav__link:visited,
.nav__link:active {
    text-decoration: none;
    color: #232735;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.content__header {
    font-weight: 300;
    font-size: 3rem;
}

.content__description {
    margin-top: 20px;
    line-height: 1.5rem;
}

.graphics {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.graphics__icon-figma {
    width: 100px;
    margin-right: 50px;
}

.graphics__icon-plus {
    margin-right: 50px;
    font-size: 5rem;
    font-weight: 100;
}

.graphics__icon-code {
    width: 150px;
    margin-right: 50px;
}

.graphics__icon-equals {
    margin-right: 50px;
    font-size: 5rem;
    font-weight: 100;
}

.heart-box {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    transform: rotate(45deg);
    transform-origin: 32px 32px;
    top: 0;
    left: 0;
}

.heart-box .heart {
    top: 23px;
    left: 19px;
    position: absolute;
    width: 26px;
    height: 26px;
    background: red;
    animation: beatingHeart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.heart-box .heart:after,
.heart-box .heart:before {
    content: " ";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background: red;
}

.heart-box .heart:before {
    left: -17px;
    border-radius: 50% 0 0 50%;
    
}

.heart-box .heart:after {
    top: -17px;
    border-radius: 50% 50% 0 0;
}

.article__header {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 300;
}

.article__link {
    display: block;
    margin: 15px 0;
}

.article__link:link,
.article__link:visited,
.article__link:active {
    color: #232735;
}

.article__link:hover {
    color: #697296;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    font-size: 0.75rem;
    text-align: center;
}

.footer__link:link,
.footer__link:visited,
.footer__link:active  {
    color: #232735;
}

.footer__link:hover {
    color: #697296;
}


/*==================================*/
/*            ANIMATIONS            */
/*==================================*/

@keyframes beatingHeart {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.3);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}





