:root {
    font-size: 16px;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #232735;
    background-color: #EEEEEE;
}

.header {
    width: 100%;
}

.header__logo{
    padding-left: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.nav__btn {
    width: 200px;
    padding: 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #cccccc;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #e0e0e0;
    text-align: left;
    cursor: pointer;
} 

.nav__icon-system {
    display: inline-block;
    margin-right: 30px;
}

.nav__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav__link:link,
.nav__link:visited,
.nav__link:active {
    text-decoration: none;
    color: #232735;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.content__header {
    font-weight: 300;
    font-size: 3rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    font-size: 0.75rem;
    text-align: center;
}

.footer__link:link,
.footer__link:visited,
.footer__link:active  {
    color: #232735;
}

.footer__link:hover {
    color: #697296;
}





